@import "tailwindcss";

@font-face {
    font-family: "pricedown";
    src: url("/pricedown.otf");
}

html,body{
    height: 100%;
    width: 100%;
    font-family: "pricedown";
    margin: 0;
    padding: 0;
    background-color: black;
}